<ion-header>
  <ion-toolbar>
    <ion-title>{{ categoryName }}</ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- movies category -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" sizeXl="3" *ngFor="let movie of category">
        <ion-card (click)="goMovieDetails(movie.id)">
          <img
            [src]="'https://image.tmdb.org/t/p/original/' + movie.poster_path"
          />
          <div class="vote">
            <div class="avarage">
              <ion-icon name="star" color="warning"></ion-icon>
              <span>{{ movie.vote_average | number : "1.1-1" }}</span>
            </div>

            <div class="popularity">
              <ion-icon name="heart" color="danger"></ion-icon>
              <span>{{ movie.popularity }}</span>
            </div>
          </div>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label>
                <h2>{{ movie.original_title }}</h2>
                <p>{{ movie.release_date }}</p>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
