.sideMenu {
  ion-content {
    ion-list {
      background: none;

      ion-item {
        --background: transparent;
        --background-hover: none;
        --padding-start: 16px;
        --padding-end: 16px;
        --min-height: 50px;
        margin: 5px 10px;
        border-radius: 10px;

        ion-icon {
          font-size: 24px;
          color: var(--ion-color-medium);
        }

        ion-label {
          font-size: 16px;
          color: var(--ion-color-medium);
          font-weight: 500;
        }

        ion-select::part(text) {
          color: var(--ion-color-flixfy-main);
        }
        ion-select::part(icon) {
          color: var(--ion-color-flixfy-main);
          opacity: 1;
        }
      }

      ion-item.selected {
        --background: rgba(var(--ion-color-flixfy-main-rgb), 0.14);
        border-radius: 10px;
        transition: all 0.3s ease-out;

        ion-label {
          font-weight: 600;
          color: var(--ion-color-flixfy-main);
        }

        ion-icon {
          color: var(--ion-color-flixfy-main);
          transition: all 0.3s ease-out;
        }
      }

      ion-item::part(detail-icon) {
        color: white;
        opacity: 1;
        font-size: 20px;
      }
    }
  }
}
