.detailHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  ion-toolbar {
    --background: transparent;
    --border-color: transparent;
    --border: none;
  }

  ion-buttons {
    background: rgba(var(--ion-color-flixfy-dark-rgb), 0.5);
    --color: var(--ion-color-light);
    border-radius: 10px;

    ion-icon {
      --color: var(--ion-color-light);
    }
  }
}

ion-content {
  .backdrop {
    .poster {
      height: 300px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba(var(--ion-color-flixfy-dark-rgb), 0) 0%,
          rgba(var(--ion-color-flixfy-dark-rgb), 1) 100%
        );
        z-index: 1;
      }
    }

    .movieDetails {
      position: relative;
      z-index: 2;
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      background: var(--ion-color-flixfy-dark);

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          color: var(--ion-color-light);
          font-size: 1.5rem;
          font-weight: bold;
        }

        div.vote {
          display: flex;
          align-items: center;
          gap: 5px;

          ion-icon {
            --color: var(--ion-color-light);
          }

          span {
            color: var(--ion-color-light);
            font-size: 0.8rem;
          }
        }
      }

      .bread-crumbs {
        ion-breadcrumbs {
          padding: 5px 0;

          ion-breadcrumb {
            font-size: 11px;
            --color: var(--ion-color-light);
            --color-active: var(--ion-color-flixfy-main);
            --color-hover: var(--ion-color-flixfy-main);

            ion-icon {
              font-size: 13px;
              color: var(--ion-color-light);
            }
          }
        }
      }

      .genres {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        span {
          background: var(--ion-color-flixfy-light);
          padding: 5px;
          border-radius: 5px;
          font-size: 0.7rem;
          color: var(--ion-color-flixfy-dark);
        }
      }

      .overview {
        p {
          color: var(--ion-color-medium);
          font-size: 1rem;
          margin-top: 10px;
          line-height: 25px;
        }

        .release {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;

          span {
            background: var(--ion-color-flixfy-light);
            padding: 5px;
            border-radius: 5px;
            font-size: 0.7rem;
          }
        }
      }

      .actions {
        margin-top: 20px;
      }
    }

    .credits {
      position: relative;
      display: flex;
      flex-direction: column;

      width: 100%;
      background: var(--ion-color-flixfy-dark);
      padding: 20px;

      .cast,
      .crew {
        h3 {
          color: var(--ion-color-light);
          font-size: 1.2rem;
          font-weight: bold;
        }

        ion-item {
          padding: 0;
          margin: 0;
          width: 100%;
          display: flex;
          align-items: flex-start;

          ion-avatar {
            --border-radius: 10px;
          }

          ion-label {
            color: var(--ion-color-light);
            font-size: 1rem;
          }
        }
      }
    }

    .productionComp {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
      background: var(--ion-color-flixfy-dark);

      h2 {
        color: var(--ion-color-light);
        font-size: 1.2rem;
        font-weight: bold;
        margin: 20px 0;
      }

      swiper-container {
        width: 100%;
        height: auto;
        swiper-slide {
          .company {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(var(--ion-color-flixfy-light-rgb), 1);
            border: 1px solid var(--ion-color-flixfy-light);
            padding: 10px;
            border-radius: 10px;

            img {
              width: 50px;
              height: 50px;
              object-fit: contain;
            }

            h3 {
              color: var(--ion-color-flixfy-dark);
              font-size: 1rem;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}
